.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .buttons {
    display: flex;
    gap: 1rem;
  }

  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .media_player_area {
    display: flex;
    gap: 1rem;
  }

  .button_retranscribe {
    background-color: #10e9e9;
    border: none;
    color: rgb(19, 18, 18);
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    font-weight: 600;  
  }

  .button:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
  }

  @keyframes pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  
  .recordingIndicator {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    animation: pulse 1s infinite;
  }

  .transcription {
    width: 80%;
    border: 1px solid black;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .transcribingIndicator {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
  }